<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form Upload</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="images/icon/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="images/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="images/icon/icofont/css/icofont.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Required Jquery -->
    <script type="text/javascript" src="javascripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.mCustomScrollbar.css">

    <script type="text/javascript" src="javascripts/global.js"></script>

    <link rel="stylesheet" href="libs/gijgo/css/gijgo.css">
    <script src="libs/gijgo/js/gijgo.js"></script>


</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Dashboard</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="">
                                <a href="home.html">
                                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Lihat Tampilan</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Edit Form</div>
                            <li class="">
                                <a href="form-surat.html">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Surat Keluar/Masuk</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="form-upload.html">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Upload Foto/Video</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="form-running-text.html">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Running Text Kurs/Berita</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header card">
                                    <div class="row align-items-end">
                                        <div class="col-lg-1">
                                            <div class="page-header-title">
                                                <i class="icofont icofont-5-star-hotel bg-c-blue"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-11">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>Form Surat Masuk/Keluar</h4>
                                                    <span>Edit tampilan Singkat catatan surat masuk/keluar Setiap harinya</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->

                                <!-- Page body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Input Grid card start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Form Surat Masuk/Keluar</h5>
                                                    <span>Input text dengan panjang sesuai batas</span>
                                                    <div class="card-header-right"><i
                                                            class="icofont icofont-spinner-alt-5"></i></div>

                                                    <div class="card-header-right">
                                                        <i class="icofont icofont-spinner-alt-5"></i>
                                                    </div>

                                                </div>
                                                <div class="card-block">
                                                    <h4 class="sub-title">Surat Masuk</h4>
                                                    <div id="inboxList">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">Pengirim</th>
                                                                <th scope="col">Subjek</th>
                                                                <th scope="col">Posisi</th>
                                                                <th scope="col">Tanggal/Waktu</th>
                                                                <th scope="col">Edit?</th>
                                                                <th scope="col">Delete?</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div id="addInbox">
                                                        <form>
                                                            <div class="form-group row ">
                                                                <label for="senderField"
                                                                       class="col-sm-2 col-form-label">Pengirim
                                                                    Surat</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           id="senderField"
                                                                           placeholder="Panjang maksimal 20 karakter"
                                                                           maxlength="20">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="subjekField"
                                                                       class="col-sm-2 col-form-label">Subjek
                                                                    Surat</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           id="subjekField"
                                                                           placeholder="Panjang maksimal 20 karakter"
                                                                           maxlength="20">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="posisiField"
                                                                       class="col-sm-2 col-form-label">Posisi
                                                                    Surat</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           id="posisiField"
                                                                           placeholder="Panjang maksimal 20 karakter"
                                                                           maxlength="20">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="waktuField" class="col-sm-2 col-form-label">Tanggal & Waktu</label>
                                                                <div class="col-sm-10">
                                                                    <div style="overflow:hidden;">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-8">
                                                                                    <input id="waktuField" width="234" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <script type="text/javascript">
                                                                            $('#waktuField').datetimepicker({
                                                                                uiLibrary: 'bootstrap4',
                                                                                modal: true,
                                                                                footer: false,
                                                                                format: 'HH:MM dd-mm-yyyy',
                                                                            });
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success btn-block"
                                                                    id="btnAddInbox" type="submit">
                                                                <i class="icofont icofont-check-circled"></i>Simpan
                                                                Perubahan
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery slimscroll js -->
<script type="text/javascript" src="javascripts/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="javascripts/modernizr/modernizr.js"></script>
<script type="text/javascript" src="javascripts/modernizr/css-scrollbars.js"></script>
<!-- classie js -->
<script type="text/javascript" src="javascripts/classie/classie.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="javascripts/script.js"></script>

<script src="javascripts/pcoded.min.js"></script>
<script src="javascripts/demo-12.js"></script>
<script src="javascripts/jquery.mCustomScrollbar.concat.min.js"></script>

</body>

</html>
