<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form Upload Video</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Bea Cukai Teluk Bayur">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Bea Cukai Teluk Bayur">
    <!-- Favicon icon -->
    <link rel="icon" href="images/icon/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="images/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="images/icon/icofont/css/icofont.css">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Required Jquery -->
    <script type="text/javascript" src="javascripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.mCustomScrollbar.css">

    <script type="text/javascript" src="controllers/video.js"></script>

    <link rel="stylesheet" href="libs/gijgo/css/gijgo.css">
    <script src="libs/gijgo/js/gijgo.js"></script>


</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Dashboard</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="">
                                <a href="/">
                                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Lihat Tampilan</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Form Surat</div>
                            <li class="">
                                <a href="form-inbox">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Surat Masuk</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="form-outbox">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Surat Keluar</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Form Upload</div>
                            <li class="">
                                <a href="form-photo">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Foto</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="form-video">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Video</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Form Lainnya</div>
                            <li class="">
                                <a href="form-text">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Running Text Kurs/Berita</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <li class="">
                                <a href="form-info">
                                    <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Basic Info</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-header start -->
                                <div class="page-header card">
                                    <div class="row align-items-end">
                                        <div class="col-lg-1">
                                            <div class="page-header-title">
                                                <i class="icofont icofont-5-star-hotel bg-c-blue"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-11">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>Form video</h4>
                                                    <span>Edit tampilan Singkat catatan video Setiap harinya</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page-header end -->

                                <!-- Page body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Input Grid card start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-header-right"><i
                                                            class="icofont icofont-spinner-alt-5"></i></div>

                                                    <div class="card-header-right">
                                                        <i class="icofont icofont-spinner-alt-5"></i>
                                                    </div>

                                                </div>
                                                <div class="card-block" id="addvideo">

                                                    <h4 class="sub-title">Form video</h4>

                                                    <div>

                                                        <form enctype="multipart/form-data" id="formUpload">
                                                            <div class="form-group row">
                                                                <label for="fileUpload" class="col-sm-2 col-form-label">
                                                                    File input</label>
                                                                <div class="col">
                                                                    <input type="file" class="form-control-file" name="file"
                                                                           id="fileUpload">
                                                                    <code >Compress video sebelum upload, format harus .mp4</code>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-success btn-block"
                                                                    id="btnSavevideo" type="submit" hidden>
                                                                <i class="icofont icofont-check-circled"></i>Simpan
                                                                Perubahan
                                                            </button>
                                                            <button class="btn btn-primary btn-block"
                                                                    id="btnAddvideo" type="submit">
                                                                <i class="icofont icofont-ui-add"></i>Tambah Data
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="card-block">

                                                    <h4 class="sub-title">Tabel video</h4>

                                                    <div id="videoList">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">Video</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Page body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->
                        <div id="styleSelector">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery slimscroll js -->
<script type="text/javascript" src="javascripts/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="javascripts/modernizr/modernizr.js"></script>
<script type="text/javascript" src="javascripts/modernizr/css-scrollbars.js"></script>
<!-- classie js -->
<script type="text/javascript" src="javascripts/classie/classie.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="controllers/script.js"></script>

<script src="javascripts/pcoded.min.js"></script>
<script src="javascripts/demo-12.js"></script>
<script src="javascripts/jquery.mCustomScrollbar.concat.min.js"></script>

</body>

</html>
